.footer {
    background: #121212;
    padding-top: 50px;
    &__title {
        font-size: 40px;
        margin-bottom: 71px;
    }
    &__row {
        display: flex;
        // align-items: center;
        margin-bottom: 66px;

    }
    &__column {

        &-1 {
            width: 35%;
            &:first-child{
                margin-bottom: 50px;
            }
        }
        &-2 {
            width: 40%;
        }
        &-3 {
            width: 35%;
        }
        &-top{
            margin-bottom: 50px;
        }
    }
    
    &__text {
        @include text(normal, 300, 14px, 2.57, #949494);
    }
    &__desc {
        @include text(normal, 300, 22px, 1.63, $white);
    }
    
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 279px;
        height: 60px;
        background: $black;
        border-radius: 2px;
        border: 1px solid #CEB787;
        cursor: pointer;

        @include text(normal, 500, 18px, 1.66, $white);
        margin-top: 61px;
        transition: .4s all linear;
        &:hover{
            transition: .4s all linear;
            background: linear-gradient(270.21deg, rgba(249, 139, 77, 0.8) 18.08%, rgba(255, 103, 82, 0.8) 68.72%);
        }
    }
}
address{
    margin-top: 50px;
}


.copyright {
    border-top: 1px solid #ffffff40;
    padding: 41px 0 44px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__left {
        display: flex;
        column-gap: 41px;
    }
    &__logo {
        @include text(normal, 400, 14px, 1.1, $white);
        font-family: 'Scania Sans CY ';
        letter-spacing: 1.47px;
        margin-right: 110px;
        cursor: pointer;

    }
    &__text {
        @include text(normal, 400, 14px, 1.1, #6D6D6D);
        letter-spacing: 0.7px;
    }
    &__link {
        @include text(normal, 400, 14px, 1.1, #6D6D6D);
        letter-spacing: 0.7px;
    }
}


@media (max-width: 992px){
    .footer{
        margin-top: 35px;
        &__title{
            margin-bottom: 30px;
        }
        &__row{
            margin-bottom: 30px;
            

        }
        &__column{
            &-top{
                margin-bottom: 20px;
            }
            &-bot{
                margin-top: 20px;
            }
           
        
        }
        &__desc{
            font-size: 18px;
        }
        &__btn{
            width: 235px;
            height: 55px;
            margin-top: 26px;

        }
    }
    .copyright{
        padding: 26px 0 25px;
        &__logo{
            margin-right: 0;
        }
        &__left{
            column-gap: 20px;
            align-items: center;
        }
    }
}

@media (max-width: 767px){
    .footer__btn {
        width: 200px;
        height: 46px;
        margin-top: 26px;
        font-size: 16px;
    }
}
@media (max-width: 650px){
    .footer{
        margin: 0;
        padding-top: 20px;
    }
    .footer__title{
        margin-bottom: 16px;
        font-size: 27px;
    }
    .footer__row{
        flex-wrap: wrap;
        column-gap: 40px;
    }
    .footer__column-2 {
        width: 50%;
    }

    
    .footer__column-1:first-child{
            margin-bottom: 0;
    }
    .footer__column-bot{
        margin-top: 0;
    }
    .footer__column-top{
        margin-bottom: 10px;
    }
    .footer__btn{
        margin-top: 13px;
    }
    .footer__text{
        line-height: 1.1;
    }
    .footer__desc {
        font-size: 18px;
        line-height: 1.3;
    }
    .copyright__text{
        font-size: 12px;
    }
}
@media (max-width: 540px){}
@media (max-width: 420px){}
@media (max-width: 380px){}
