.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__left{
        display: flex;
        align-items: center;
        column-gap: 39px;
    }
    &__nav{
        display: flex;
        align-items: center;
        column-gap: 61px;
    }
    &__logo{
        color: #FFF;
        font-family: 'Scania Sans CY ';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 70px; /* 350% */
        letter-spacing: 2.1px;
        white-space: nowrap;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__subtitle{
        color: #6D6D6D;
        font-family: 'Lab Grotesque';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 150% */
        letter-spacing: 0.6px;
    }

}


@media (max-width: 992px){
    .header{
        position: relative;
        z-index: 6;
        &__left{
            column-gap: 20px;
        }
        &__nav{
            column-gap: 30px;
        }
        
    }
}
@media (max-width: 820px){}
@media (max-width: 767px){}
@media (max-width: 600px){}
@media (max-width: 540px){}
@media (max-width: 420px){}
@media (max-width: 380px){}

    


  





    



    

