.special{
    padding-top: 50px;

    
    .container{
        background: url('../images/special-bg.png') center/cover no-repeat;
        padding-bottom: 200px;

    }
    &__title{
        text-align: center;
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 250;
        line-height: 60px; /* 150% */
        letter-spacing: 2.8px;
        text-transform: uppercase;
        margin-bottom: 21px;

        background: linear-gradient(183deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__subtitle{
        text-align: center;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 33px; /* 165% */
        letter-spacing: 0.6px;
    }
    &__img{
        max-width: 1289px;
        width: 100%;
        max-height: 495px;
        height: 100%;
    }

    &__row{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 140px;
    }
    &__block{
        display: flex;
        align-items: center;
        column-gap: 29px;
        &-text{
            @include text(normal, 300, 16, 1.5, $white);
        }
    }

}


@media (max-width: 992px){
    .special{
        .container{
            padding-bottom: 60px;
        }
        &__title{
            font-size: 34px;
            line-height: 1.5;
        }
        &__subtitle{
            font-size: 18px;
            line-height: 1.5;
        }
        &__row{
            column-gap: 35px;
        }
        &__block{
            column-gap: 13px;
        }
    }
}

@media (max-width: 767px){
    .special__title {
        font-size: 27px;
    }
    .special__subtitle{
        font-size: 16px;
    }
    .special__img {
        max-height: 400px;
    }
    .special__block-text {
        font-size: 14px;
    }
    .special__block-icon{
        svg{
            width: 34px !important;
            height: 34px !important;

        }
    }
}
@media (max-width: 700px){
    .special__block-icon{
        svg{
            width: 25px !important;
            height: 25px !important;

        }
        
    }
}
@media (max-width: 650px){
    .special__title {
        font-size: 24px;
        margin-bottom: 5px;
    }
    .special__block-text {
        font-size: 13px;
    }
    .special__row {
        column-gap: 22px;
    }
}
@media (max-width: 500px){
    .special__title{
        font-size: 20px;
    }
    .special__subtitle{
        font-size: 14px;
    }
}
@media (max-width: 380px){}