
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    transition: .5s all linear;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Lab Grotesque';
}
    body{
        background:  url('../images/layout-bg.png') 0 0/cover no-repeat, url(<path-to-image>), rgb(28 29 28) 0% 0% / 100px 100px repeat;


    }

    .container{
        max-width: 1309px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }

    .row{
        display: flex;
        align-items: center;
    }

     .ibg{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
        
    .ibg img{
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }

    $gold: #FFCF7A;
    $white: #fff;
    $grey: #757575;
    $black: #121212;
    $light-grey: #949494;

    $bg-title: linear-gradient(181deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);


    .title{
        font-family: 'Lab Grotesque, sans-serif';
        font-size: 64px;
        font-style: normal;
        font-weight: 250;
        line-height: 80px; /* 125% */
        letter-spacing: 3.2px;
        text-transform: uppercase;
        background: linear-gradient(183deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .center{
        display: flex;
        justify-content: center;
    }
   

    

    @mixin text( $fs, $fw, $fz, $lh, $col) {
        font-style: $fs;
        font-weight: $fw;
        font-size: $fz;
        line-height: $lh;
        color: $col;
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 284px;
        height: 60px;
        border-radius: 1px;
        background: linear-gradient(270.21deg, rgba(219, 142, 97, 0.8) 18.08%, rgba(234, 112, 96, 0.8) 68.72%);
        cursor: pointer;
        border: none;

        @include text(normal, 500, 18px, 1.66, $black);

        &:hover{
            background: linear-gradient(270.21deg, rgba(249, 139, 77, 0.8) 18.08%, rgba(255, 103, 82, 0.8) 68.72%);
            color: $white;
        }
        
    }

    
      
   
        
        
        


    @import "header";
    @import "menu";
    @import "begin";
    @import "special";
    @import "refueling";
    @import "smart";
    @import "info";
    @import "swiper";
    @import "solution";
    @import "autor";























